.container {
    margin-left: 0rem;
    
}

.navbar-brand{
    max-width: 15%;
    min-width: 12%;
    
}
.navbar-brand img{
    padding-left: 0rem;
    margin-right: 10rem;
}
.navbar-nav {
    margin-left: 15rem;
}
.item {
    width: 100%;
   min-width:80%;
}
.item video {
    width: 100%;
    height: auto;
}

.video-header .navbar {
    background-color: transparent !important; ///trasnsparencia navebar
    
}