.container {
    margin-left: 0rem;
    
}
.navbar-brand{
    max-width: 15%;
    min-width: 12%;
    
}


.video-header .navbar {
    background-color: transparent !important; ///trasnsparencia navebar
    
}