<!doctype html> 
<html lang= "en" > 
    <head>
        <meta charset= "utf-8" >
    </head> 

    <header class="item">
        
            <div class="he-video">
                <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                    <source src="assets/video/fondoayni.mp4" type="video/mp4">
                </video>
            </div>
        
        <nav class= "navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar" >                  <!--fixed top hace fijar en la parte superior a navbar-->
            <div class="container">
                <a class= "navbar-brand" href= "#"  ><img src= "/assets/img/logoblancoweb.png" class="img-fluid d-inline-block " alt= "" ></a>                      <!--en este apartado se poen el logo o marca-->
                <button class= "navbar-toggler" type= "button" data-toggle= "collapse" data-target= "#navbarSupportedContent-7" aria-controls= "navbarSupportedContent-7" aria-expanded= "false" aria-label= "Toggle navigation" > <!--Este es el boton de menu toogle-->
                    <span class= "navbar-toggler-icon" ></span> 
                </button>
        
                <div class= "collapse navbar-collapse" id= "navbarSupportedContent-7" >
                    <ul class= "navbar-nav ms-auto" >                                   <!-- mx-auto pone en centro al bloque / u -> una lista horizontal-->
                        <li class= "nav-item" >
                            <a class= "nav-link text-white" href= "#"  >SERVICIOS</a>
                        </li> 
                        <li class= "nav-item " >
                            <a class= "nav-link text-white" href= "#" >TU PROYECTO</a>
                        </li>
                        <li class= "nav-item" >
                            <a class= "nav-link text-white" href= "#" >MATERIAL EDUCATIVO</a>
                        </li>
                        <li class= "nav-item" >
                            <a class= "nav-link text-white" href= "#" >BLOG</a>
                        </li>
                        <li class= "nav-item" >
                            <a class= "nav-link text-white" href= "#" >CONTACTENOS</a>
                        </li>
                    </ul> 
                </div>
            </div>
        </nav> 
      
    </header>
    <body>
    <section>
        <h1>holA</h1>
    </section>
    </body> 
    
  






</html> 

